@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham_medium_regular-webfont.woff') format('woff'),
       url('../fonts/gotham_medium_regular.ttf')  format('truetype');
}

body {
	background: url('../img/bg-whole.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: gotham;
}

.circle-title {
	width:50%;
	left: 25%;
	position: absolute;
}

.paper-title {
	margin-top: 32%;
}

.option1 {
	background: rgba(232, 235, 244, 0.8);
	margin-top: 100px;
	border-radius: 10px;
	padding: 40px;
}

.opt1-desc {
	color: #0a6cb7;
	font-size: 28px;
	margin-top: 30px;
}

.btnpos {
	margin-top: -120px;
}

.option1btn {
padding: 20px 60px;
background: rgba(232, 235, 244, 0.8);
border-radius: 20px;
font-size: 2em;
color: #0a6cb7;
letter-spacing: 2px;
border: 3px solid #0a6cb7;
}

.promo-code1 {
	position: absolute;
	width: 180px;
	left: -80px;
	top: -90px;
}

.icons {
	height:90px;
}

.icons-desc {
	color: #0a6cb7;
	text-align: center;
	margin-top: 20px;
}

.airport {
	width: 180px;
	margin-left: 20px;
	flex: 0 0 180px !important;
	max-width: 180px;
	text-align: center;
}

.books, .housing, .id {
	margin-left: 30px;
	text-align: center;
}

.chart-desc {
	color: #582247;
}

@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
}
    
@media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
}
    
@media only screen and (max-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
}
    
@media only screen and (device-width:768px){
       /* default iPad screens */
}
